.total{
    display: block;
    clear: both;
    height: 25px;
    margin-bottom: 20px;
}
.total span{
    float: left;
    font-size: 25px
}
.submit-search .price{
    float: right;
}
.address-flight, .book-btn{
	text-align: center;
}

/*.bookingSubmit {
	cursor: no-drop !important;
}*/